<div class="container w-max m-5 p-5 bg-gray-800 text-gray-200 border-2 border-gray-800 rounded">
  <h1 class="text-4xl pb-5">Create User</h1>

  <%= render 'form', user: @user %>

  <%= link_to 'Back', login_path %>
</div>
